fastapi
uvicorn
pydantic
requests
beautifulsoup4
sqlalchemy
python-dotenv
python-jose[cryptography]
google-auth
google-auth-oauthlib
google-api-python-client
# google-auth-oauthlib と google-api-python-client は厳密には不要だが、
# `google.auth.transport.requests`を使うため、環境に応じて入れておく